<div class="pt-3 container">
    <div class="row">
        <article>
            <section>
                Controle a sua vida financeira de forma descomplicada e eficiente com como o MyWallet todo em português, funciona como um colaborador digital que lhe auxilia ter uma entendimento mais perfeito sobre como devo manobrar os rendimentos e despesas.

            </section>
            <section>
                Para facilitar o controle, separe as contas em categorias: alimentação, transporte, lazer, saúde etc. Assim, é mais fácil analisar onde estão os gastos excessivos. Outra dica é estabelecer metas financeiras: decida quanto quer economizar por mês ou qual
                é o valor mínimo que pretende guardar numa poupança.
            </section>
            <section>
                Uma boa prática é pesquisar preços antes de comprar qualquer coisa. Assim, você tem noção de quanto custa realmente e não corre o risco de gastar.
            </section>
        </article>
    </div>
</div>
