<div class="container" id="general">

    <table>
        <tr>
            <div class="container justify-content-center">

                <div class="row" [formGroup]="form">
                    <div class="pt-3"></div>

                    <div class="row justify-content-center">
                        <div class="row justify-content-center" style="width:100%">
                            <div class="row" style="width: 50%;">
                                <div class="row">
                                    <div>
                                        <h1 class="row pt-2 justify-content-center" id="theme">Acesse sua carteira</h1>
                                    </div>
                                    <div class="row justify-content-center">
                                        <img src="../../../../../assets/financial.png" alt="" style="max-width:300px;">
                                    </div>
                                    <label for=""> <label style="font-size: 20px; color:red;">*</label>E-MAIL</label>
                                    <input class="form-control" formControlName="email" [ngClass]="{'is-invalid': touchedErrors('email', this.form)}">
                                    <div class="invalid-feedback">
                                        {{required(form, 'email', 'E-mail', 0, 150)}}
                                    </div>
                                </div>
                                <div class="row">
                                    <label><label style="font-size: 20px; color:red;">*</label>SENHA</label>
                                    <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': touchedErrors('password', this.form)}">
                                    <div class="invalid-feedback">
                                        {{required(form, 'password', 'SENHA', 0, 150)}}
                                    </div>
                                </div>

                                <div class="pt-3"></div>
                                <div class="row justify-content-center">
                                    <button [disabled]="!form.valid" type="button" class=" btn btn-success" style="width:353px;" [routerLink]="['/welcomedash']" (click)="login()">ENTRAR</button>
                                </div>
                                <div class="pt-3"></div>
                                <div class="row justify-content-center" [routerLink]="['/register']">
                                    <h3>CADASTRO</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- </td> -->
        </tr>
    </table>





</div>
<!-- {{form.value | json}}  -->