<nav class="navbar navbar-expand-lg navbar-success bg-success">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <div id="menu" class="bi bi-wallet2" (click)="toggleCollapsed()"></div>
      <!-- <div id="menu" class="navbar-toggler-icon" (click)="toggleCollapsed()"></div> -->



    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" style="color: white;">
            <div class="pt-3"></div>

            <a class="navbar-brand"></a>

            <i class=".d-none .d-lg-block .d-xl-none bi bi-wallet2 " style="font-size: 35px;"></i>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: white;" [routerLink]="['/clients']">Clientes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: white;" [routerLink]="['/products']" (click)="redirectTo()">Produtos</a>
              </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: white;" [routerLink]="['/account']">Bancos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: white;" [routerLink]="['/inout']">Fluxos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: white;" [routerLink]="['/operations']">Operações</a>
                </li>
            </ul>
            <div style="text-align: end; float:right">


                <div class="btn-group" dropdown>

                    <!-- <h5>
                        <span class="usericon"><i class="bi bi-person-circle">{{' Login'}}</i></span>
                    </h5> -->

                    <h5 id="button-split" dropdownToggle class="dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">

                        <span class="usericon"><i class="bi bi-person-circle">{{isLogged()}}</i></span>

                        <span class="caret"></span>
                        <span class="sr-only visually-hidden">Split button!</span>

                    </h5>

                    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
                        <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="logOut()">Sair</a>
                            <!-- [routerLink]="['/login']" -->
                            <!-- <li role="menuitem"><a class="dropdown-item" (click)="isLogged()">Check</a> -->

                        </li>

                    </ul>
                </div>


            </div>
            <!-- class="row d-flex justify-content-end" -->








        </div>

    </div>

</nav>
<router-outlet></router-outlet>