<div class="container">
    <div class="row justify-content-center">
        <div class="row pt-3">
            <h3>Contas</h3>
        </div>
    </div>
    <div class="pt-3"></div>
    <div class="row justify-content-center" [formGroup]="this.form">
        <div class="row">
            <div class="col-6">
                <label style="font-size: 20px; color:red;">*</label><label>Instituição:</label>
                <input type="text" class="form-control" formControlName="institution" [ngClass]="{'is-invalid': touchedErrors('institution', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'institution', 'Instituição', 3, 1000)}}
                </div>
            </div>
            <div class="col-6">
                <label style="font-size: 20px; color:red;">*</label><label>Titular</label>
                <input class="form-control" formControlName="holder" [ngClass]="{'is-invalid': touchedErrors('holder', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'holder', 'Titular', 3, 1000)}}
                </div>
            </div>

        </div>



        <div class="row">

            <div class="col-6">
                <label style="font-size: 20px; color:white;">*</label><label>Chave Pix</label>
                <select class="form-select" formControlName="pix" (change)="typeKChange($event)">
          <option selected="pix.key === 'SELECIONE'" *ngFor="let pix of pixType;" class="form-control" [value]="pix.key"
            [ngClass]="{'is-invalid': touchedErrors('pix', this.form)} ">
            {{pix.key}}
          </option>
        </select>
                <div class="invalid-feedback">
                    {{required(form, 'pix', 'Chave Pix', 8, 14)}}
                </div>
            </div>



            <div class="col-6" *ngIf="this.tp === 'CELULAR'">
                <label style="font-size: 20px; color:red;">*</label><label>{{this.tp}}</label>
                <input class="form-control" formControlName="typeaccount" mask="(00) 0-0000-0000" [ngClass]="{'is-invalid': touchedErrors('typeaccount', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'typeaccount', 'Tipo de Conta', 8, 14)}}
                </div>
            </div>
            <div class="col-6" *ngIf="this.tp ==='CPF' || this.tp === 'CNPJ'">
                <label style="font-size: 20px; color:red;">*</label><label>{{this.tp}}</label>
                <input class="form-control" formControlName="typeaccount" mask="CPF_CNPJ" [ngClass]="{'is-invalid': touchedErrors('typeaccount', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'typeaccount', 'Tipo de Conta', 8, 14)}}
                </div>
            </div>
            <div class="col-6" *ngIf="this.tp ==='E-MAIL'">
                <label style="font-size: 20px; color:red;">*</label><label>{{this.tp}}</label>
                <input class="form-control" formControlName="typeaccount" [ngClass]="{'is-invalid': touchedErrors('typeaccount', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'typeaccount', 'Tipo de Conta', 8, 14)}}
                </div>
            </div>



        </div>


        <div class="pt-3"></div>
        <div class="row">
            <div class="col-4">
                <label style="font-size: 20px; color:red;">*</label><label>Agência</label>
                <input class="form-control" formControlName="agency" [ngClass]="{'is-invalid': touchedErrors('agency', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'agency', 'Agência', 11, 16)}}
                </div>
            </div>
            <div class="col-4">
                <label style="font-size: 20px; color:red;">*</label><label> Conta</label>
                <input class="form-control" formControlName="account" [ngClass]="{'is-invalid': touchedErrors('account', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'account', 'Conta', 11, 16)}}
                </div>
            </div>


            <div class="col-4">
                <label style="font-size: 20px; color:red;">*</label><label>Tipo de Conta</label>
                <input class="form-control" formControlName="typeaccount" [ngClass]="{'is-invalid': touchedErrors('typeaccount', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'typeaccount', 'Tipo de Conta', 8, 14)}}
                </div>
            </div>


            <div class="col-12">
                <label>Descrição</label>
                <input class="form-control" formControlName="description" [ngClass]="{'is-invalid': touchedErrors('description', this.form)}">
                <div class="invalid-feedback">
                    {{required(form, 'description', 'Tel. Fixo:', 8, 14)}}
                </div>
            </div>
            <!-- space -->
            <div class="pt-3"></div>
            <!-- space -->
            <div class="col-10">
                <h4 style="height: 50px;">Cartões</h4>
            </div>

            <div class="col-2">
                <button type="button" class=" btn btn-primary" (click)="addControls()" style="width:100%;">Adicionar</button>
            </div>
            <hr>

        </div>
        <div class="pt-3"></div>
        <div formArrayName="cards" *ngFor="let _card of controls.controls let i = index">
            <div [formGroupName]="i" class="row">


                <div class="col-4">
                    <label>Nome</label>
                    <input #nameFiled class="form-control" formControlName="name" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.name')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.name', 'Nome', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Bandeira</label>
                    <input #nameFiled class="form-control" formControlName="flag" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.flag')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.name', 'Nome', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Número</label>
                    <input #nameFiled class="form-control" formControlName="numbercard" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.numbercard')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.numbercard', 'Número do cartão.', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Código Verificador</label>
                    <input #nameFiled class="form-control" formControlName="checkcode" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.checkcode')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.checkcode', 'Código verificador.', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Tipo</label>
                    <input #nameFiled class="form-control" formControlName="typeaccount" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.typeaccount')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.typeaccount', 'Tipo de conta.', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Validade</label>
                    <input type="date" #nameFiled class="form-control" formControlName="validate" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.validate')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.validate', 'Validade', 0, 150)}}
                    </div>
                </div>
                <div class="col-4">
                    <label>Descrição</label>
                    <input #nameFiled class="form-control" formControlName="description" [ngClass]="{'is-invalid': touchedErrorsArray(controls, i+'.description')}">

                    <div class="invalid-feedback">
                        {{requiredArray(controls, i+'.description', 'Descrição', 0, 150)}}
                    </div>
                </div>

                <button class="btn btn-danger col-2 mt-4" (click)="removeControls(i)" style="width:14%; height: 50%;">Remover</button>
            </div>
        </div>
        <!-- space -->
        <div class="pt-3"></div>
        <!-- space -->

    </div>

    <button class="btn btn-primary col-2 mt-4" style="width:14%; height: 50%;" (click)="save('checkingAccounts', this.form.value)">Salvar</button>

    <div class="text-center">
        {{this.form.value|json}}
    </div>

</div>
