<div class="container">
    <table>
        <tr>
            <td class="col-6 p-3">
                <button id="btnRegister" class="btn btn-outline-info" [routerLink]="['/products/create']" (click)="registerProduct()">Cadastrar</button>
            </td>
            <div class="pt-3"></div>

        </tr>
    </table>
    <section class="container" *ngIf="showHideBool">

        <div class="pt-5"></div>
        <section class="row align-items-" *ngFor="let pro of this.products; let i = index">

            <ul class="list-group">
                <div class="row ">

                    <div class="row align-self-end" style="background-color: rgb(13, 202, 240); color: white; border:1px solid rgb(18, 89, 255);">


                        <section class="pt-2 col-7">
                            <table>
                                <tr>
                                    <td style="float: left;  padding-right: 15px; padding-top: 6px;">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    </td>
                                    <td>
                                        <h3>{{pro.name | uppercase}}</h3>
                                    </td>
                                </tr>
                            </table>
                            <!-- <h6>Quantidade: <span class="badge bg-success ">{{this.products.name}}</span></h6> -->


                        </section>
                        <div class="col-3"></div>
                        <section class="col-2 pr-5 pt-2 pb-2 ">
                            <button tooltip="Deletar {{pro.name}}" class="btn btn-outline-dark bi bi-trash" style=" color: white; border:1px solid white;"></button>
                            <button tooltip="Editar {{pro.name}}" class="btn btn-outline-dark bi bi-pen" style=" color: white; border:1px solid white;"> </button>
                            <button tooltip="Detalhes {{pro.name}}" class="btn btn-outline-dark bi bi-info-square" style=" color: white; border:1px solid white;"></button>
                        </section>




                    </div>

                </div>
            </ul>
            <div style="height:30px; background-color: white; "></div>

        </section>
    </section>
</div>

<router-outlet></router-outlet>
